<div class="container body-content">
    <div class="row">
        {{#each categories}}
            <div class="col-md-6">
                <header>
                    <h2>
                        <a href="/category/{{ this.id }}">
                            {{ this.name }} ({{ this.articles.length }})
                        </a>
                    </h2>
                </header>
            </div>
        {{/each}}
    </div>
</div>