<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" action="/admin/category/edit/{{category.id}}" method="POST">
            <fieldset>
                <legend>Edit Category</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="name">Category Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="name" placeholder="Category Name" name="name" value="{{ category.name }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="/admin/category/all">Cancel</a>
                        <button type="submit" class="btn btn-success">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
